.navbar {
  position: relative;
  border: transparent;
  background-color: dodgerblue;
  border-radius: 0;
  padding: 0.4vmax;
  margin: 0vw;
}

.logo{
  position: absolute;
  top: -8%;
  width: 4vw;
  height: 4vw;
}

.navbar-inverse {
  font-weight: bold;
  font-size: 1vmax;
}

.navbar-inverse .navbar-nav>li>a {
  color:white;
}

.navbar-inverse .navbar-nav>li>a:focus {
  color: green;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color:green;
}
