.intro {
  position: relative;
}

.introImage {
  margin: 0vw;
  padding: 0vw;
  max-width: 100vw;
}


.introText {
  position: absolute;
  bottom: 34vw;
}

.introText>p {
  color: white;
  margin: 10px;
  font-size: 2.2vw;
  border-bottom: solid white;
}

.aboutBtn {
  border-radius: 0%;
  position: absolute;
  bottom: 30vw;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 1.5vw;
  color: white;
}

.aboutBtn:hover {
  color: green;
  /* border: solid green; */
}
